@use "@picocss/pico/scss/pico" with ($theme-color: "indigo");
@use "@picocss/pico/scss/pico.colors" as pico-colors;

:root {
    --color-warn: rgb(230, 166, 25);
    --color-warn-dark: rgb(163, 106, 8);
    --color-error: var(--pico-form-element-invalid-border-color);
}

html,
body {
    margin: 0;
    height: 100%;
}

.highlight {
    color: var(--pico-primary);
}

.bottom-divider {
    border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
}

.icon-button {
    @extend .outline;
    @extend .secondary;
    border: none;

    display: flex;
    align-items: center;

    &:hover {
        outline: var(--pico-border-width) solid var(--pico-secondary);
    }

    &:focus:not(:focus-visible) {
        box-shadow: none;
    }

    &:active {
        background-color: var(--pico-secondary-background);
    }
}

input.warn {
    --pico-form-element-border-color: var(--color-warn);
    --pico-form-element-active-border-color: var(--color-warn-dark);
    --pico-form-element-focus-color: var(--color-warn-dark);
}